/*.xe-notice,
.xdebug-error{
  display: none;
}*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body, form input{
  text-align: right;
}

table td, table th{
  text-align: center;
  min-width: 40px;
}

button:hover{
  cursor: pointer;
}

.centro{
  margin: 0 auto;
}

input{
  display: inline;
}

label{
  padding-right: 3em;
}
#resultado{
  text-align: left;
}

#resultado table{
  display: inline-block!important;
}

.izquierda{
  margin-left: 150px;
}

.derecha{
  margin-right: 150px;
}
